{% extends 'basefile.html' %}

{% block title %}
Home
{% endblock title %}


{% block body %}
    <div class="row">
        <div class="col-md-6 card bg-black" id="card1">
            <center>

                <div class="ml-5 mt-4 mr-5">
                    <h1 class="about_discription text-white">You Can Learn here </h1>
                    <hr class="w-50 border-5 border-dark">
                    <h5 class="about_discription text-white">Here you learn best tutorials and get notes of
                        <b>"Programming Language"</b> like
                        <a class="text-decoration-none text-danger" href="c/default.php"> C </a>,
                        <a class="text-decoration-none text-danger" href="cpp/default.php"> C++ </a>,
                        <a class="text-decoration-none text-danger" href="python/default.php"> Python </a> ,
                        <a class="text-decoration-none text-danger" href="java/default.php"> Java </a> ,
                        <a class="text-decoration-none text-danger" href="php/default.php"> Php </a>

                        and
                        <a class="text-decoration-none text-danger" href="courses.php">More Technologies</a>
                        and also you can find here
                        <b>"Computer Science Branch"</b>
                        related subjects like
                        <a class="text-decoration-none text-danger" href="oops/default.php"> OOPs Concept </a> ,
                        <a class="text-decoration-none text-danger" href="dbms/default.php"> DBMS </a> ,
                        <a class="text-decoration-none text-danger" href="digital_system/default.php"> Digital System
                        </a> ,
                        <a class="text-decoration-none text-danger" href="cyber_Security/default.php"> Cyber Security
                        </a> ,
                        <a class="text-decoration-none text-danger" href="Data_structure/default.php"> Data structure
                        </a>
                        and many more subject and we Provided <b>"Web Development" </b> related tutorials such as
                        <a class="text-decoration-none text-danger font-weight-bolder" href="html/default.php"> Html
                        </a> ,
                        <a class="text-decoration-none text-danger font-weight-bolder" href="css_course/default.php"> CSS
                        </a>
                        ,
                        <a class="text-decoration-none text-danger font-weight-bolder" href="js_course/default.php">
                            Javascript
                        </a> ,
                        <a class="text-decoration-none text-danger font-weight-bolder" href="bootstrip/default.php">
                            bootstrip </a>
                        etc.
                        and you will know about <b>"Frameworks" </b> like
                        <a class="text-decoration-none text-danger font-weight-bolder" href="django/default.php"> Django
                        </a> ,
                        <a class="text-decoration-none text-danger font-weight-bolder" href="angular/default.php">
                            Angular </a>,
                        <a class="text-decoration-none text-danger font-weight-bolder" href="react/default.php"> React
                        </a> and
                        a lots of tutorials you can Visit courses pages by Clicking on the link <a href="courses.php">All
                            Courses.</a>



                    </h5>

                </div>
                <br>
                <div class="row">

                    <div class="col-md-6">
                        <center>
                            <a href="c/default.php" class="btn btn-primary w-75 mt-2"><b>Get Started <br> with
                                    "C"</b></a>
                        </center>
                    </div>
                    <div class="col-md-6">
                        <center>
                            <a href="html/default.php" class="btn btn-primary w-75 mt-2"><b>Get Started <br> with
                                    "HTML"</b></a>

                        </center>
                    </div>
                </div><br><br>
                <a href="admin/add-post.php" class="btn btn-primary w-50 p-2"><b>Become <br> a "Writter"</b></a>


            </center>
            <br>
        </div>
        <div class="col-md-6 card bg-black">
            <br>
            <div class="row">

                <div class="col-md-5 card card-body glyphicon-open-file shadow m-1">
                    <center>
                        <a href="c">
                            <img src="../static/img/c.png" class="w-50" alt="">
                            <h3>C Language</h3>
                        </a>
                    </center>
                </div>

                <div class="col-md-5 card card-body shadow m-1">
                    <center>
                        <a href="cpp/default.php">
                            <img src="../static/img/cpp.png" class="w-50" alt="">
                            <h3>CPP Language</h3>
                        </a>
                    </center>
                </div>
                <div class="col-md-5 m-1 card card-body shadow">
                    <center>
                        <a href="java/default.php">
                            <img src="../static/img/java.png" class="w-50" alt="">
                            <h3>Java Language</h3>
                        </a>
                    </center>
                </div>

                <div class="col-md-5 m-1 card card-body shadow">
                    <center>
                        <a href="python/default.php">
                            <img src="../static/img/python.png" class="w-50" alt="">
                            <h3>Python Language</h3>
                        </a>
                    </center>
                </div>

            </div>

        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-4 h-75">
            <img src="../static/img/html.png" class="w-75" alt="">
        </div>
        <div class="col-md-4 codebox">
            <code>
            <span class="text-danger">&lt;!DOCTYPE html></span><br>
        <span class="text-danger">&lt;html <span class="text-info">lang</span>="<span class="text-warning">en</span>"><br>
        <span class="text-danger">&lt;head></span><br>
        <span class="text-danger">&lt;meta <span class="text-info">charset</span>="<span class="text-warning">UTF-8</span> "></span><br>
        <span class="text-danger">&lt;meta<span class="text-info"> http-equiv</span> ="<span class="text-warning">X-UA-Compatible</span>" <span class="text-info">content</span>="<span class="text-warning">IE=edge</span> "></span><br>
        <span class="text-danger">&lt;meta<span class="text-info"> name</span>="<span class ="text-warning">viewport</span>"
        <span class="text-info">content</span>="<span class="text-warning">width=device-width, initial-scale=1.0</span>>"</span><br>
        <span class="text-danger">&lt;title><span class="text-dark">Document</span> &lt;/title></span><br>
        <span class="text-danger">&lt;/head></span><br>
        <span class="text-danger">&lt;body></span><br>
        <span class="text-primary">&lt;h1> <span class="text-dark">hello world</span>&lt;/h1></span><br>
        <span class="text-primary">&lt;h2> <span class="text-dark">hello world</span>&lt;/h2></span><br>
        <span class="text-danger">&lt;/body></span><br>
        <span class="text-danger">&lt;/html></span><br>
        </code>
        </div>
        <div class="col-md-4" style="margin-top: 100px;">
            <div class="align-baseline">
                <center>
                    <h1>
                        <b>
                            HTML Complete Course
                        </b>
                    </h1>
                    <div class="col-lg-6">
                        <button title="MySQL" onclick="location.href = 'html/default.php'"
                            class="btn btn-dark w-100 h-100 font-weight-bold p-4">Get Started </button>
                    </div>
                </center>
            </div>
        </div>
    </div>

    <!--End html course link code-->

    <!-- CSS course link code-->
    <hr>
    <div class="row">
        <div class="col-md-4">
            <img src="../static/img/css.png" alt="" class="w-75">
        </div>
        <div class="col-md-4 codebox">
            <b>
                <code>
            <span class="text-danger">&lt;!DOCTYPE html></span><br>
            <span class="text-danger">&lt;html <span class="text-info">lang</span>="<span class="text-warning">en</span>"><br>
            <span class="text-danger">&lt;head></span><br>
            <span class="text-danger">&lt;meta <span class="text-info">charset</span>="<span class="text-warning">UTF-8</span> "></span><br>
            <span class="text-danger">&lt;meta<span class="text-info"> http-equiv</span> ="<span class="text-warning">X-UA-Compatible</span>" <span class="text-info">content</span>="<span class="text-warning">IE=edge</span> "></span><br>
            <span class="text-danger">&lt;meta<span class="text-info"> name</span>="<span class ="text-warning">viewport</span>"
            <span class="text-info">content</span>="<span class="text-warning">width=device-width, initial-scale=1.0</span>>"</span><br>
            <span class="text-danger">&lt;title><span class="text-dark">Document</span> &lt;/title></span><br>
            <span class="text-danger">&lt;/head></span><br>
            <span class="text-danger">&lt;body></span><br>
            <span class="text-primary">&lt;h1 <span class="text-info">style</span>= "<span class="text-warning">color:red;</span>" > <span class="text-dark">hello world</span>&lt;/h1></span><br>
            <span class="text-primary">&lt;h2 <span class="text-info">style</span>= "<span class="text-warning">color:blue;</span>"> <span class="text-dark">hello world</span>&lt;/h2></span><br>
            <span class="text-danger">&lt;/body></span><br>
            <span class="text-danger">&lt;/html></span><br>
            </code>
            </b>
        </div>
        <div class="col-md-4" style="margin-top: 100px;">
            <center>
                <h1>
                    <b>
                        CSS Complete Course
                    </b>
                </h1><br>
                <div class="col-lg-6">
                    <button title="MySQL" onclick="location.href = 'css_course/default.php'"
                        class="btn btn-dark w-100 h-100 font-weight-bold p-4">Get Started </button>
                </div>
            </center>
        </div>
    </div>
    <hr>
    <!--End CSS course link code-->

    <!-- JavaScript course link code-->
    <div class="row">
        <div class="col-lg-4">
            <img src="../static/img/javascript.png" alt="" width="100%">
        </div>
        <div class="col-lg-4 codebox">
            <b>
                <code>
            <span class="text-danger">&lt;!DOCTYPE html></span><br>
            <span class="text-danger">&lt;html <span class="text-info">lang</span>="<span class="text-warning">en</span>"><br>
            <span class="text-danger">&lt;head></span><br>
            <span class="text-danger">&lt;meta <span class="text-info">charset</span>="<span class="text-warning">UTF-8</span> "></span><br>
            <span class="text-danger">&lt;meta<span class="text-info"> http-equiv</span> ="<span class="text-warning">X-UA-Compatible</span>" <span class="text-info">content</span>="<span class="text-warning">IE=edge</span> "></span><br>
            <span class="text-danger">&lt;meta<span class="text-info"> name</span>="<span class ="text-warning">viewport</span>"
            <span class="text-info">content</span>="<span class="text-warning">width=device-width, initial-scale=1.0</span>>"</span><br>
            <span class="text-danger">&lt;title><span class="text-dark">Document</span> &lt;/title></span><br>
            <span class="text-danger">&lt;/head></span><br>
            <span class="text-danger">&lt;script></span><br>
        
            <span class="text-dark" >
                                function changecolor() { <br>
                        document.getElementById("head").style.color = "red" <br>
                        } <br>
            </span>
                        
            <span class="text-danger">&lt;/script></span><br>
            <span class="text-danger">&lt;body></span><br>
            
            <span class="text-danger">&lt;button <span class="text-info">onclick</span> ="<span class="text-warning">changecolor()</span> "><span class="text-dark">Click me</span> &lt;/button></span> <br>
            <span class="text-primary">&lt;h1 <span class="text-info">id</span>="<span class="text-warning">head</span>"> <span class="text-dark">Wemcome to program hub</span>&lt;/h1></span><br>
            <span class="text-danger">&lt;/body></span><br>
            <span class="text-danger">&lt;/html></span><br>
                        </code>
            </b>


        </div>
        <div class="col-lg-4" style="margin-top: 100px;">
            <center>
                <h1>
                    <b>
                        JavaScript Complete Course
                    </b>
                </h1><br>
                <div class="col-lg-6">
                    <button title="MySQL" onclick="location.href = 'js_course/default.php'"
                        class="btn btn-dark w-100 h-100 font-weight-bold p-4">Get Started </button>
                </div>
            </center>
        </div>
    </div>
    <hr>
    <!--End JavaScript course link code-->

    <!-- course links -->

    <div class="row">
        <div class="col-md-12">
            <center>
                <h1>Database</h1>
            </center>
            <div class="row">
                <div class="col-lg-2 m-1 card card-body col-sm-6 col-xs-12 mt-1 shadow">
                    <button title="MySQL" onclick="location.href = 'mysql/default.php'"
                        class="btn btn-dark w-100 h-100 font-weight-bold p-4">MySQL </button>
                </div>
                <div class="col-lg-2 m-1 card card-body col-sm-6 col-xs-12 mt-1 shadow">
                    <button title="MongoDb" onclick="location.href = 'mongodb/default.php'"
                        class="btn btn-dark w-100 h-200 font-weight-bold p-4">MongoDb </button>
                </div>
                <div class="col-lg-2 m-1 card card-body col-sm-6 col-xs-12 mt-1 shadow">
                    <button title="MongoDb" onclick="location.href = 'oracle/default.php'"
                        class="btn btn-dark w-100 h-200 font-weight-bold p-4">Oracal 12C </button>
                </div>
                <div class="col-lg-2 m-1 card card-body col-sm-6 col-xs-12 mt-1 shadow">
                    <button title="MongoDb" onclick="location.href = 'sqlite/default.php'"
                        class="btn btn-dark w-100 h-200 font-weight-bold p-4">SqlLite </button>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <center>
                <h1>Other Important Courses</h1>
            </center>
            <dic class="row">
                <div class="col-lg-1 m-1 card card-body col-sm-4 mt-1 shadow">
                    <button title="MongoDb" onclick="location.href = 'bce/default.php'"
                        class="btn btn-dark w-100 h-100 font-weight-bold p-4">Basic Computer Engineering</button>
                </div>
                <div class="col-lg-1 m-1 card card-body col-sm-4 mt-1 shadow">
                    <button title="MySQL" onclick="location.href = 'cyber_security/default.php'"
                        class="btn btn-dark w-100 h-100 font-weight-bold p-4">Cyber Security </button>
                </div>
                <div class="col-lg-1 m-1 card card-body col-sm-4 mt-1 shadow">
                    <button title="MongoDb" onclick="location.href = 'dbms/default.php'"
                        class="btn btn-dark w-100 h-100 font-weight-bold p-4">Database management System</button>
                </div>
                <div class="col-lg-1 m-1 card card-body col-sm-4 mt-1 shadow">
                    <button title="MySQL" onclick="location.href = 'data_structure/default.php'"
                        class="btn btn-dark w-100 h-100 font-weight-bold p-4">Data structure</button>
                </div>
                <div class="col-lg-1 m-1 card card-body col-sm-4 mt-1 shadow">
                    <button title="MySQL" onclick="location.href = 'discrete_structure/default.php'"
                        class="btn btn-dark w-100 h-100 font-weight-bold p-4">Discreate Mathematics</button>
                </div>
                <div class="col-lg-1 m-1 card card-body col-sm-4 mt-1 shadow">
                    <button title="MySQL" onclick="location.href = 'theory_of_computation/default.php'"
                        class="btn btn-dark w-100 h-100 font-weight-bold p-4">Theory of Computation</button>
                </div>
            </dic>
        </div>
        <div class="col-md-12">
            <div class="row">
                <center>
                    <h1>Compition Exam</h1>
                </center>
                <div class="col-lg-3 m-1 card card-body col-sm-6 mt-1 ml-5 shadow">
                    <button title="MySQL" onclick="location.href = '#'"
                        class="btn btn-dark w-100 h-100 font-weight-bold p-4">Apptitude</button>
                </div>
                <div class="col-lg-3 m-1 card card-body shadow col-sm-5 mt-1  ml-5">
                    <button title="MongoDb" onclick="location.href = '#'"
                        class="btn btn-dark w-100 h-100 font-weight-bold p-4">Mathematics</button>
                </div>
                <div class="col-lg-3 m-1 card card-body shadow col-sm-5 mt-1  ml-5">
                    <button title="MongoDb" onclick="location.href = 'courses.php'"
                        class="btn btn-dark w-100 h-100 font-weight-bold p-4">All Courses</button>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="row m-2">
        <div class="col-md-6">
            <center>
                <h1 class="text-primary">Why Learn Programming</h1>
                <hr>
            </center>
            <h4> "bagin Your Coding Journey With Us "</h4>
            <ol>
                <li>Programming is <a class="text-decoration-none" href="">easy to learn</a></li>
                <li><a class="text-decoration-none" href="">You can do work from anywhere</a></li>
                <li>There are a lot of jobs for <a class="text-decoration-none" href="">prgrammer</a></li>
                <li>There are always <a class="text-decoration-none" href="">Freelance</a>Opportunities</li>
                <li>A good programmer have <a class="text-decoration-none" href="">A Great Income</a></li>
                <li>Our top most Reasons is Programming <a class="text-decoration-none" href="">Creative and Fun</a>
                </li>
            </ol>
        </div>
        <div class="col-md-6">
            <center>
                <h1 class="text-primary">Why Join Us</h1>
                <hr>
                <p>
                    Our <b>Aim</b> is everyone educated and know About coding and Programming. We provided <b>bast</b>
                    learning content at <b>No Cost</b>
                    Our Team created this site only for educaters. You Can complete prepare for all courses like <b>
                        <a class="text-decoration-none" href="c/default.php">C</a>,
                        <a class="text-decoration-none" href="cpp/default.php">C++</a>,
                        <a class="text-decoration-none" href="java/default.php">JAVA</a>,
                        <a class="text-decoration-none" href="python/default.php">PYTHON</a>,and many other
                        <a class="text-decoration-none" href="courses.php">Courses</a> </b> Complete
                    <b>Web development</b> tools such as <b>
                        <a class="text-decoration-none" href="html/default.php">HTML</a>
                        ,<a class="text-decoration-none" href="css_course/default.php">CSS</a>
                        ,<a class="text-decoration-none" href="js_course/default.php">JavaScript</a>
                    </b>
                </p>
            </center>
        </div>
    </div>
{% endblock body %}